<html>
	<% include partials/template/floodatlas_head.ejs %>
	<body>
		<% include partials/template/floodatlas_header.ejs %>

				<!-- modals -->
		<div class="modal fade" id="metaModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header heading-text">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<!-- /.modal-header -->
					<div class="modal-body"></div>
					<!-- /.modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
						<a type="button" class="btn btn-primary" id ="downloadBTN">
							Download
						</a>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<div class="container" >
			<br>
			<div class="row">

				<div class="col-md-8" role="main" >
					<!-- #damages-section -->
					<div id='damages-section'>
						<h3 class="heading-text">Flood Damages</h3>
						<ul class="media-list">
							<%(myResult.rows).forEach(function(row){%>
								<% if(row.format==".shp"){%>
									<li class="media">
										<a class="media-right media-top" href="http://floodatlas.org/asfpm/data/toledo/<%= row.path%>">
											<img class= ""src="<%=theLoc%>img/<%- (row.name).split('Scenario ')[1] %>_Symbols.png" style="margin-right:5px;border:1px solid black;height: 77px;">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><%- (row.name).split('- ')[1] %>&mdash;<%= row.info %></h4>

											<ul class="fa-ul">
												<li>
													<i class="fa fa-tag"></i>
													<a href="#" onclick="viewMeta(<%= JSON.stringify(row) %>)" title="more info">Preview Metadata </a>
												</li>
												<li>
													<i class="fa fa-download"></i>
													<a class="fileLocation" href="http://floodatlas.org/asfpm/data/toledo/<%= row.path%>" title="download file">Download </a>
												</li>
											</ul>
										</div>
										<!-- /.media-body -->
									</li>
									<!-- /.media -->
								<% } %>
							<% }) %>
						</ul>
						<!-- /.media-list -->
					</div>
					<!-- /#damages-section -->
					<br>
					<!-- #depthgrid-section -->
					<div id='depthgrid-section'>
						<h3 class="heading-text">Depth Grids</h3>
						<ul class="media-list">
							<%(myResult.rows).forEach(function(row){%>
								<% if(row.format==".tiff"){%>
									<li class="media">
										<a class="media-right media-top" href="http://floodatlas.org/asfpm/data/toledo/<%= row.path%>">
											<img class= ""src="<%=theLoc%>img/<%- (row.name).split('Scenario ')[1] %>_DG.png"style="margin-right:5px;border:1px solid black; height: 77px;">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><%- (row.name).split('- ')[1] %>&mdash;<%= row.info %></h4>
											<ul class="fa-ul">
												<li>
													<i class="fa fa-tag"></i>
													<a href="#" onclick="viewMeta(<%= JSON.stringify(row) %>)" title="view metadata"><span>View Metadata</span></a>
												</li>
												<li>
													<i class="fa fa-download"></i>
													<a class="fileLocation" href="http://floodatlas.org/asfpm/data/toledo/<%= row.path%>" title="download file">Download </a>
												</li>
											</ul>
										</div>
										<!-- /.media-body -->
									</li>
									<!-- /.media -->
								<% } %>
							<% }) %>
						</ul>
						<!-- /.media-list -->
					</div>
					<!-- /#depthgrid-section -->
				</div>
				<!-- /.col-md-8[role="main"] -->
				<div class="col-md-4">
					<div class="affix-top sidenav mobile-<%=mobileDevice%>" role="complementary">
						<div>
							<a class="btn btn-primary btn-block" id="downloadAll" href="http://floodatlas.org/asfpm/data/toledo/ToledoFloodHazards.zip">
								Download All Files
							</a>
							<hr>
							<ul  class="nav nav-pills nav-stacked">
								<li>
									<a href="http://216.165.135.4:6080/arcgis/rest/services/ToledoFloodHazards_NOAAEcon/MapServer">
										<i class="fa fa-fw fa-lg fa-terminal"></i>
										Access our WMS Service
									</a>
								</li>
								<li>
									<a href="#" class="btn btn-link" disabled>
										<span class="pull-left">
											<i class="fa fa-fw fa-lg fa-github"></i>
											Vist our Git Hub Page
										</span>
									</a>
								</li>
							</ul>
							<!-- /.nav -->
						</div>
					</div>
					<!-- /.affix-top[role="complementary"] -->
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
		<br>
		<% include partials/template/floodatlas_footer.ejs %>



		<!-- scripts -->
		<% include partials/template/floodatlas_jsdefaults.ejs %>
		<script src="<%=theLoc%>js/dataPortal.js"></script>
	</body>
</html>
